<div class="container">

    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-left">
            <a class="p-2 text-muted" href="/">Home</a>
            <span class="p-2 text-muted"> | </span>
            <a class="p-2 text-muted" href="/saved">Saved Articles</a>
            <span class="p-2 text-muted"> | </span>
            <a class="p-2 text-muted scrape" href="#">Scrape</a>
            <span class="p-2 text-muted"> | </span>
            <a class="p-2 text-danger text-muted clear" href="#">Clear All</a>
        </nav>
    </div>

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark splash">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Mongo News Scraper</h1>
            <p class="lead my-3">A New York Times news scraper using MongoDB</p>
        </div>
    </div>

    <main class="row mb-2">
        <div class="col-12 mb-4">
            <hr>
            <h1 class="text-center">{{pageTitle}}</h1>
            <hr>
        </div>
        {{#if articles}} 
        {{#each articles}}
        <div class="col-md-6 mb-4">
            <div class="card flex-md-row shadow-sm h-100">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">{{this.section}}</strong>
                    <h3 class="card-header">
                        <a class="text-dark" href="{{this.link}}">{{this.title}}</a>
                    </h3>
                    <div>
                        {{#if this.note}}
                        <a class="btn btn-outline-primary mt-3 mb-3 note" href="#" data-id="{{this._id}}">View / Edit Note</a>
                        {{else}}
                        <a class="btn btn-outline-secondary mt-3 mb-3 note" href="#" data-id="{{this._id}}">Create Note</a>
                        {{/if}}
                        <a class="btn btn-outline-dark mt-3 mb-3 save-remove" href="" data-id="{{this._id}}">Remove From Saved</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}} {{else}}
        <div class="col-md-6 offset-md-3 mb-4">
            <div class="alert alert-dark">
                {{{defaultText}}}
            </div>
        </div>
        {{/if}}
        <div class="col-12">
            <a class="btn btn-outline-primary ml-3 mb-3 scrape" href="#">Scrape</a>
            <a class="btn btn-outline-danger ml-3 mb-3 clear" href="#">Clear All</a>
        </div>
    </main>
</div>



<footer class="blog-footer">
    <p>Front-end based on a template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.
        Built by Devin North.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>

<!-- Modal Wrapper-->
<div class="modal fade" id="modalID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="modalBody"></div>
    </div>
</div>